body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:13px;
  width:76px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:216px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1902px;
  width:1366px;
  height:216px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:544px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:196px;
  width:544px;
  height:544px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:544px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:196px;
  width:544px;
  height:544px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:263px;
  width:286px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u6 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#2699FB;
  line-height:18px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:341px;
  width:318px;
  height:162px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#2699FB;
  line-height:18px;
}
#u7 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:48px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:645px;
  width:167px;
  height:48px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:568px;
  height:261px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:816px;
  width:538px;
  height:231px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:568px;
  height:261px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:816px;
  width:538px;
  height:231px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:900px;
  width:318px;
  height:64px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u11 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:910px;
  width:318px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:370px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:1124px;
  width:435px;
  height:370px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:370px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:1124px;
  width:440px;
  height:370px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:370px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:1124px;
  width:433px;
  height:370px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1197px;
  width:286px;
  height:86px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u16 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:48px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:1401px;
  width:167px;
  height:48px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:568px;
  height:261px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:1570px;
  width:538px;
  height:231px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:568px;
  height:261px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1570px;
  width:538px;
  height:231px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1664px;
  width:318px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u20 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:1670px;
  width:318px;
  height:32px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u21 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:1954px;
  width:318px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:2010px;
  width:50px;
  height:50px;
  display:flex;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:2015px;
  width:50px;
  height:41px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:2010px;
  width:50px;
  height:50px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1954px;
  width:318px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u28 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:28px;
  width:50px;
  height:42px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u31_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1366px;
  height:81px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:108px;
  width:259px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u33 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:108px;
  width:54px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:108px;
  width:185px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:108px;
  width:87px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:108px;
  width:92px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:27px;
  width:78px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:90px;
  width:200px;
  height:1px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:906px;
  width:29px;
  height:50px;
  display:flex;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:86px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1366px;
  height:86px;
  display:flex;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:111px;
  width:253px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:111px;
  width:54px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u43 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:111px;
  width:185px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u44 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:111px;
  width:87px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:111px;
  width:92px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u46 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:27px;
  width:78px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u47 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  width:374px;
}
#u0_img.a {
  width:374px;
}
#u0.a {
  width:374px;
}
#u0_text.a {
}
#u0 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1.a {
  left:116px;
  top:19px;
}
#u1_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1.a {
  left:116px;
  top:19px;
}
#u1_text.a {
}
#u1 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u2.a {
  left:2px;
  top:2484px;
  width:374px;
  height:318px;
}
#u2_img.a {
  width:374px;
  height:318px;
}
#u2.a {
  left:2px;
  top:2484px;
  width:374px;
  height:318px;
}
#u2_text.a {
}
#u2 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u3.a {
  left:36px;
  top:112px;
  width:302px;
  height:302px;
}
#u3_img.a {
  width:302px;
  height:302px;
}
#u3.a {
  left:36px;
  top:112px;
  width:302px;
  height:302px;
}
#u3_text.a {
}
#u3 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u4.a {
  left:36px;
  top:414px;
  width:302px;
  height:302px;
}
#u4_img.a {
  width:302px;
  height:302px;
}
#u4.a {
  left:36px;
  top:414px;
  width:302px;
  height:302px;
}
#u4_text.a {
}
#u4 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u6.a {
  left:101px;
  top:150px;
  width:152px;
  height:25px;
}
#u6_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u6.a {
  left:101px;
  top:150px;
  width:152px;
  height:25px;
}
#u6_text.a {
}
#u6 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u7.a {
  left:101px;
  top:195px;
  width:182px;
  height:93px;
}
#u7_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#2699FB;
  line-height:18px;
}
#u7.a {
  left:101px;
  top:195px;
  width:182px;
  height:93px;
}
#u7_text.a {
}
#u7 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u8.a {
  left:114px;
  top:650px;
  width:146px;
  height:40px;
}
#u8_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8.a {
  left:114px;
  top:650px;
  width:146px;
  height:40px;
}
#u8_text.a {
}
#u8 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u9.a {
  left:36px;
  top:775px;
  width:302px;
  height:130px;
}
#u9_img.a {
  width:332px;
  height:160px;
}
#u9.a {
  left:36px;
  top:775px;
  width:302px;
  height:130px;
}
#u9_text.a {
}
#u9 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u10.a {
  left:36px;
  top:942px;
  width:302px;
  height:130px;
}
#u10_img.a {
  width:332px;
  height:160px;
}
#u10.a {
  left:36px;
  top:942px;
  width:302px;
  height:130px;
}
#u10_text.a {
}
#u10 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u11.a {
  left:88px;
  top:819px;
  width:208px;
  height:42px;
}
#u11_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u11.a {
  left:88px;
  top:819px;
  width:208px;
  height:42px;
}
#u11_text.a {
}
#u11 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u12.a {
  left:83px;
  top:990px;
  width:208px;
  height:33px;
}
#u12_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u12.a {
  left:83px;
  top:990px;
  width:208px;
  height:33px;
}
#u12_text.a {
}
#u12 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u13.a {
  left:0px;
  top:1119px;
  width:374px;
  height:318px;
}
#u13_img.a {
  width:374px;
  height:318px;
}
#u13.a {
  left:0px;
  top:1119px;
  width:374px;
  height:318px;
}
#u13_text.a {
}
#u13 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u14.a {
  left:0px;
  top:1437px;
  width:374px;
  height:314px;
}
#u14_img.a {
  width:374px;
  height:314px;
}
#u14.a {
  left:0px;
  top:1437px;
  width:374px;
  height:314px;
}
#u14_text.a {
}
#u14 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u15.a {
  left:0px;
  top:1751px;
  width:374px;
  height:320px;
}
#u15_img.a {
  width:374px;
  height:320px;
}
#u15.a {
  left:0px;
  top:1751px;
  width:374px;
  height:320px;
}
#u15_text.a {
}
#u15 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u16.a {
  left:71px;
  top:1182px;
  width:232px;
  height:82px;
}
#u16_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u16.a {
  left:71px;
  top:1182px;
  width:232px;
  height:82px;
}
#u16_text.a {
}
#u16 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u17.a {
  left:114px;
  top:1969px;
  width:146px;
  height:42px;
}
#u17_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:42px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u17.a {
  left:114px;
  top:1969px;
  width:146px;
  height:42px;
}
#u17_text.a {
}
#u17 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u18.a {
  left:36px;
  top:2116px;
  width:302px;
  height:130px;
}
#u18_img.a {
  width:332px;
  height:160px;
}
#u18.a {
  left:36px;
  top:2116px;
  width:302px;
  height:130px;
}
#u18_text.a {
}
#u18 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u19.a {
  left:36px;
  top:2294px;
  width:307px;
  height:132px;
}
#u19_img.a {
  width:337px;
  height:162px;
}
#u19.a {
  left:36px;
  top:2294px;
  width:307px;
  height:132px;
}
#u19_text.a {
}
#u19 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u20.a {
  left:83px;
  top:2164px;
  width:208px;
  height:33px;
}
#u20_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u20.a {
  left:83px;
  top:2164px;
  width:208px;
  height:33px;
}
#u20_text.a {
}
#u20 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u21.a {
  left:85px;
  top:2327px;
  width:208px;
  height:66px;
}
#u21_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u21.a {
  left:85px;
  top:2327px;
  width:208px;
  height:66px;
}
#u21_text.a {
}
#u21 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u23.a {
  left:36px;
  top:2555px;
  width:302px;
}
#u23_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23.a {
  left:36px;
  top:2555px;
  width:302px;
}
#u23_text.a {
}
#u23 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u25.a {
  left:253px;
  top:2682px;
}
#u25_img.a {
}
#u25.a {
  left:253px;
  top:2682px;
}
#u25_text.a {
}
#u25 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u26.a {
  left:75px;
  top:2687px;
}
#u26_img.a {
}
#u26.a {
  left:75px;
  top:2687px;
}
#u26_text.a {
}
#u26 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u27.a {
  left:164px;
  top:2682px;
}
#u27_img.a {
}
#u27.a {
  left:164px;
  top:2682px;
}
#u27_text.a {
}
#u27 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u28.a {
  left:36px;
  top:2612px;
  width:302px;
}
#u28_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u28.a {
  left:36px;
  top:2612px;
  width:302px;
}
#u28_text.a {
}
#u28 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u29.a {
  width:104px;
  height:81px;
}
#u29_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:81px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29.a {
  width:104px;
  height:81px;
}
#u29_text.a {
}
#u29 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u30.a {
  left:32px;
  top:24px;
  width:40px;
  height:33px;
}
#u30_img.a {
  width:40px;
  height:33px;
}
#u30.a {
  left:32px;
  top:24px;
  width:40px;
  height:33px;
}
#u30_text.a {
}
#u30 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u31.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u32.a {
  top:0px;
  width:374px;
  height:667px;
}
#u32_img.a {
  width:374px;
  height:667px;
}
#u32.a {
  top:0px;
  width:374px;
  height:667px;
}
#u32_text.a {
}
#u32 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u33.a {
  left:36px;
  top:128px;
}
#u33_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u33.a {
  left:36px;
  top:128px;
}
#u33_text.a {
}
#u33 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u34.a {
  left:36px;
  top:333px;
}
#u34_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u34.a {
  left:36px;
  top:333px;
}
#u34_text.a {
}
#u34 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u35.a {
  left:36px;
  top:401px;
}
#u35_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u35.a {
  left:36px;
  top:401px;
}
#u35_text.a {
}
#u35 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u36.a {
  left:36px;
  top:265px;
}
#u36_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u36.a {
  left:36px;
  top:265px;
}
#u36_text.a {
}
#u36 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u37.a {
  left:36px;
  top:196px;
}
#u37_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u37.a {
  left:36px;
  top:196px;
}
#u37_text.a {
}
#u37 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u38.a {
  left:36px;
  top:31px;
}
#u38_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u38.a {
  left:36px;
  top:31px;
}
#u38_text.a {
}
#u38 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u39.a {
  left:-1px;
  top:88px;
  width:376px;
}
#u39_img.a {
  width:377px;
}
#u39.a {
  left:-1px;
  top:88px;
  width:376px;
}
#u39_text.a {
}
#u39 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u40.a {
  left:318px;
  top:27px;
  width:20px;
  height:35px;
}
#u40_img.a {
  width:20px;
  height:35px;
}
#u40.a {
  left:318px;
  top:27px;
  width:20px;
  height:35px;
}
#u40_text.a {
}
#u40 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u31_state0.a {
  width:374px;
  height:667px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41.a {
}
#u41_img.a {
}
#u41.a {
}
#u41_text.a {
}
#u41 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u42.a {
}
#u42_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u42.a {
}
#u42_text.a {
}
#u42 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u43.a {
}
#u43_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u43.a {
}
#u43_text.a {
}
#u43 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u44.a {
}
#u44_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u44.a {
}
#u44_text.a {
}
#u44 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u45.a {
}
#u45_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45.a {
}
#u45_text.a {
}
#u45 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u46.a {
}
#u46_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u46.a {
}
#u46_text.a {
}
#u46 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u47.a {
}
#u47_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u47.a {
}
#u47_text.a {
}
#u47 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
