body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:1953px;
  width:318px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:2010px;
  width:50px;
  height:50px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:2015px;
  width:50px;
  height:41px;
  display:flex;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:2010px;
  width:50px;
  height:50px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1953px;
  width:318px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:28px;
  width:50px;
  height:42px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u255_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1366px;
  height:81px;
  display:flex;
}
#u256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:108px;
  width:54px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:108px;
  width:185px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:27px;
  width:78px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:90px;
  width:200px;
  height:1px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:906px;
  width:29px;
  height:50px;
  display:flex;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:108px;
  width:259px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:108px;
  width:87px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:108px;
  width:92px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
  display:flex;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:13px;
  width:76px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:86px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1366px;
  height:86px;
  display:flex;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:111px;
  width:253px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:111px;
  width:54px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:111px;
  width:185px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u270 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:111px;
  width:100px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:111px;
  width:92px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:27px;
  width:82px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:111px;
  width:77px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:216px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:951px;
  width:1366px;
  height:216px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:1003px;
  width:208px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u276 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:1059px;
  width:50px;
  height:50px;
  display:flex;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1064px;
  width:50px;
  height:41px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:1059px;
  width:50px;
  height:50px;
  display:flex;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:1003px;
  width:283px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:1003px;
  width:208px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:1003px;
  width:208px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:231px;
  width:868px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#2699FB;
  line-height:18px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:333px;
  width:1088px;
  height:522px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#2699FB;
  line-height:18px;
}
#u285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u247.a {
  left:36px;
  top:2560px;
  width:302px;
}
#u247_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u247.a {
  left:36px;
  top:2560px;
  width:302px;
}
#u247_text.a {
}
#u247 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u249.a {
  left:251px;
  top:2667px;
}
#u249_img.a {
}
#u249.a {
  left:251px;
  top:2667px;
}
#u249_text.a {
}
#u249 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u250.a {
  left:73px;
  top:2672px;
}
#u250_img.a {
}
#u250.a {
  left:73px;
  top:2672px;
}
#u250_text.a {
}
#u250 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u251.a {
  left:162px;
  top:2667px;
}
#u251_img.a {
}
#u251.a {
  left:162px;
  top:2667px;
}
#u251_text.a {
}
#u251 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u252.a {
  left:36px;
  top:2614px;
  width:302px;
}
#u252_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u252.a {
  left:36px;
  top:2614px;
  width:302px;
}
#u252_text.a {
}
#u252 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u253.a {
  width:104px;
  height:81px;
}
#u253_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:81px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253.a {
  width:104px;
  height:81px;
}
#u253_text.a {
}
#u253 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u254.a {
  left:32px;
  top:24px;
  width:40px;
  height:33px;
}
#u254_img.a {
  width:40px;
  height:33px;
}
#u254.a {
  left:32px;
  top:24px;
  width:40px;
  height:33px;
}
#u254_text.a {
}
#u254 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u255.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u256.a {
  top:0px;
  width:374px;
  height:667px;
}
#u256_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256.a {
  top:0px;
  width:374px;
  height:667px;
}
#u256_text.a {
}
#u256 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u257.a {
  left:36px;
  top:333px;
}
#u257_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u257.a {
  left:36px;
  top:333px;
}
#u257_text.a {
}
#u257 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u258.a {
  left:36px;
  top:401px;
}
#u258_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u258.a {
  left:36px;
  top:401px;
}
#u258_text.a {
}
#u258 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u259.a {
  left:36px;
  top:31px;
}
#u259_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u259.a {
  left:36px;
  top:31px;
}
#u259_text.a {
}
#u259 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u260.a {
  left:-1px;
  top:88px;
  width:376px;
}
#u260_img.a {
  width:377px;
}
#u260.a {
  left:-1px;
  top:88px;
  width:376px;
}
#u260_text.a {
}
#u260 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u261.a {
  left:318px;
  top:27px;
  width:20px;
  height:35px;
}
#u261_img.a {
  width:20px;
  height:35px;
}
#u261.a {
  left:318px;
  top:27px;
  width:20px;
  height:35px;
}
#u261_text.a {
}
#u261 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u262.a {
  left:36px;
  top:128px;
}
#u262_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u262.a {
  left:36px;
  top:128px;
}
#u262_text.a {
}
#u262 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u263.a {
  left:36px;
  top:265px;
}
#u263_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u263.a {
  left:36px;
  top:265px;
}
#u263_text.a {
}
#u263 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u264.a {
  left:36px;
  top:196px;
}
#u264_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u264.a {
  left:36px;
  top:196px;
}
#u264_text.a {
}
#u264 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u255_state0.a {
  width:374px;
  height:667px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265.a {
  width:374px;
}
#u265_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:81px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265.a {
  width:374px;
}
#u265_text.a {
}
#u265 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u266.a {
  left:116px;
  top:19px;
}
#u266_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u266.a {
  left:116px;
  top:19px;
}
#u266_text.a {
}
#u266 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u267.a {
}
#u267_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:86px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267.a {
}
#u267_text.a {
}
#u267 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u268.a {
}
#u268_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u268.a {
}
#u268_text.a {
}
#u268 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u269.a {
  left:885px;
}
#u269_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u269.a {
  left:885px;
}
#u269_text.a {
}
#u269 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u270.a {
}
#u270_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u270.a {
}
#u270_text.a {
}
#u270 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u271.a {
  left:696px;
}
#u271_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u271.a {
  left:696px;
}
#u271_text.a {
}
#u271 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u272.a {
  left:501px;
}
#u272_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u272.a {
  left:501px;
}
#u272_text.a {
}
#u272 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u273.a {
}
#u273_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u273.a {
}
#u273_text.a {
}
#u273 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u274.a {
  left:481px;
}
#u274_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u274.a {
  left:481px;
}
#u274_text.a {
}
#u274 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u275.a {
  left:2px;
  top:2484px;
  width:374px;
  height:500px;
}
#u275_img.a {
  width:374px;
  height:500px;
}
#u275.a {
  left:2px;
  top:2484px;
  width:374px;
  height:500px;
}
#u275_text.a {
}
#u275 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u276.a {
  left:36px;
  top:2682px;
  width:302px;
}
#u276_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u276.a {
  left:36px;
  top:2682px;
  width:302px;
}
#u276_text.a {
}
#u276 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u278.a {
  left:253px;
  top:2853px;
}
#u278_img.a {
}
#u278.a {
  left:253px;
  top:2853px;
}
#u278_text.a {
}
#u278 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u279.a {
  left:75px;
  top:2858px;
}
#u279_img.a {
}
#u279.a {
  left:75px;
  top:2858px;
}
#u279_text.a {
}
#u279 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u280.a {
  left:164px;
  top:2853px;
}
#u280_img.a {
}
#u280.a {
  left:164px;
  top:2853px;
}
#u280_text.a {
}
#u280 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u281.a {
  left:36px;
  top:2758px;
  width:302px;
}
#u281_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u281.a {
  left:36px;
  top:2758px;
  width:302px;
}
#u281_text.a {
}
#u281 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u282.a {
  left:36px;
  top:2535px;
  width:302px;
}
#u282_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u282.a {
  left:36px;
  top:2535px;
  width:302px;
}
#u282_text.a {
}
#u282 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u283.a {
  left:36px;
  top:2608px;
  width:302px;
}
#u283_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u283.a {
  left:36px;
  top:2608px;
  width:302px;
}
#u283_text.a {
}
#u283 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u284.a {
  width:265px;
  height:86px;
}
#u284_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u284.a {
  width:265px;
  height:86px;
}
#u284_text.a {
}
#u284 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u285.a {
}
#u285_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#2699FB;
  line-height:18px;
}
#u285.a {
}
#u285_text.a {
}
#u285 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
