body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
  display:flex;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:28px;
  width:50px;
  height:42px;
  display:flex;
}
#u169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:365px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:167px;
  width:496px;
  height:365px;
  display:flex;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:365px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:167px;
  width:376px;
  height:365px;
  display:flex;
}
#u171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:365px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:167px;
  width:494px;
  height:365px;
  display:flex;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:229px;
  width:428px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:348px;
  height:254px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:606px;
  width:318px;
  height:224px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:659px;
  width:235px;
  height:32px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:752px;
  width:104px;
  height:40px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:1284px;
  width:318px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:1340px;
  width:50px;
  height:50px;
  display:flex;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1345px;
  width:50px;
  height:41px;
  display:flex;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:1340px;
  width:50px;
  height:50px;
  display:flex;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:1284px;
  width:318px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:348px;
  height:254px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:606px;
  width:318px;
  height:224px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:659px;
  width:235px;
  height:32px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:752px;
  width:104px;
  height:40px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:348px;
  height:254px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:606px;
  width:318px;
  height:224px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:659px;
  width:235px;
  height:32px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:752px;
  width:104px;
  height:40px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:13px;
  width:76px;
  height:43px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:86px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1366px;
  height:86px;
  display:flex;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:111px;
  width:197px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:111px;
  width:54px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:111px;
  width:185px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:111px;
  width:100px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:111px;
  width:92px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:27px;
  width:82px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:111px;
  width:77px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:216px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:954px;
  width:1366px;
  height:216px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:1006px;
  width:208px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:1062px;
  width:50px;
  height:50px;
  display:flex;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1062px;
  width:50px;
  height:50px;
  display:flex;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:1006px;
  width:283px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1006px;
  width:253px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u211 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:1006px;
  width:208px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u212 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u213_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:81px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1366px;
  height:81px;
  display:flex;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:108px;
  width:197px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:108px;
  width:92px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:108px;
  width:54px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:108px;
  width:100px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u218 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:108px;
  width:77px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:27px;
  width:81px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:90px;
  width:200px;
  height:1px;
  display:flex;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:906px;
  width:29px;
  height:50px;
  display:flex;
}
#u222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:161px;
  width:185px;
  height:27px;
  display:flex;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u167.a {
  width:374px;
}
#u167_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:81px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167.a {
  width:374px;
}
#u167_text.a {
}
#u167 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u168.a {
  width:104px;
  height:81px;
}
#u168_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:81px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168.a {
  width:104px;
  height:81px;
}
#u168_text.a {
}
#u168 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u169.a {
  left:32px;
  top:24px;
  width:40px;
  height:33px;
}
#u169_img.a {
  width:40px;
  height:33px;
}
#u169.a {
  left:32px;
  top:24px;
  width:40px;
  height:33px;
}
#u169_text.a {
}
#u169 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u170.a {
  left:-496px;
  top:81px;
}
#u170_img.a {
}
#u170.a {
  left:-496px;
  top:81px;
}
#u170_text.a {
}
#u170 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u171.a {
  left:0px;
  top:81px;
  width:374px;
  height:363px;
}
#u171_img.a {
  width:374px;
  height:363px;
}
#u171.a {
  left:0px;
  top:81px;
  width:374px;
  height:363px;
}
#u171_text.a {
}
#u171 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u172.a {
  left:376px;
  top:81px;
}
#u172_img.a {
}
#u172.a {
  left:376px;
  top:81px;
}
#u172_text.a {
}
#u172 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u173.a {
  left:36px;
  top:118px;
  width:302px;
  height:86px;
}
#u173_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
}
#u173.a {
  left:36px;
  top:118px;
  width:302px;
  height:86px;
}
#u173_text.a {
}
#u173 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u175.a {
  left:36px;
  top:497px;
  width:302px;
  height:213px;
}
#u175_img.a {
  width:332px;
  height:243px;
}
#u175.a {
  left:36px;
  top:497px;
  width:302px;
  height:213px;
}
#u175_text.a {
}
#u175 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u177.a {
  left:114px;
  top:524px;
  width:146px;
  height:64px;
}
#u177_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u177.a {
  left:114px;
  top:524px;
  width:146px;
  height:64px;
}
#u177_text.a {
}
#u177 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u178.a {
  left:114px;
  top:642px;
  width:146px;
}
#u178_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u178.a {
  left:114px;
  top:642px;
  width:146px;
}
#u178_text.a {
}
#u178 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u180.a {
  left:34px;
  top:1745px;
  width:302px;
}
#u180_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u180.a {
  left:34px;
  top:1745px;
  width:302px;
}
#u180_text.a {
}
#u180 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u182.a {
  left:251px;
  top:1860px;
}
#u182_img.a {
}
#u182.a {
  left:251px;
  top:1860px;
}
#u182_text.a {
}
#u182 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u183.a {
  left:73px;
  top:1865px;
}
#u183_img.a {
}
#u183.a {
  left:73px;
  top:1865px;
}
#u183_text.a {
}
#u183 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u184.a {
  left:162px;
  top:1860px;
}
#u184_img.a {
}
#u184.a {
  left:162px;
  top:1860px;
}
#u184_text.a {
}
#u184 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u185.a {
  left:36px;
  top:1803px;
  width:302px;
}
#u185_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u185.a {
  left:36px;
  top:1803px;
  width:302px;
}
#u185_text.a {
}
#u185 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u187.a {
  left:36px;
  top:768px;
  width:302px;
  height:213px;
}
#u187_img.a {
  width:332px;
  height:243px;
}
#u187.a {
  left:36px;
  top:768px;
  width:302px;
  height:213px;
}
#u187_text.a {
}
#u187 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u189.a {
  left:114px;
  top:795px;
  width:146px;
  height:64px;
}
#u189_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u189.a {
  left:114px;
  top:795px;
  width:146px;
  height:64px;
}
#u189_text.a {
}
#u189 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u190.a {
  left:114px;
  top:913px;
  width:146px;
}
#u190_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u190.a {
  left:114px;
  top:913px;
  width:146px;
}
#u190_text.a {
}
#u190 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u192.a {
  left:36px;
  top:1066px;
  width:302px;
  height:213px;
}
#u192_img.a {
  width:332px;
  height:243px;
}
#u192.a {
  left:36px;
  top:1066px;
  width:302px;
  height:213px;
}
#u192_text.a {
}
#u192 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u194.a {
  left:114px;
  top:1113px;
  width:146px;
}
#u194_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#2699FB;
  text-align:center;
}
#u194.a {
  left:114px;
  top:1113px;
  width:146px;
}
#u194_text.a {
}
#u194 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u195.a {
  left:114px;
  top:1211px;
  width:146px;
}
#u195_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(38, 153, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 153, 251, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u195.a {
  left:114px;
  top:1211px;
  width:146px;
}
#u195_text.a {
}
#u195 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u196.a {
  left:116px;
  top:19px;
}
#u196_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u196.a {
  left:116px;
  top:19px;
}
#u196_text.a {
}
#u196 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u197.a {
}
#u197_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:86px;
  background:inherit;
  background-color:rgba(127, 196, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197.a {
}
#u197_text.a {
}
#u197 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u198.a {
}
#u198_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u198.a {
}
#u198_text.a {
}
#u198 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u199.a {
  left:885px;
}
#u199_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u199.a {
  left:885px;
}
#u199_text.a {
}
#u199 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u200.a {
}
#u200_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u200.a {
}
#u200_text.a {
}
#u200 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u201.a {
  left:696px;
}
#u201_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u201.a {
  left:696px;
}
#u201_text.a {
}
#u201 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u202.a {
  left:501px;
}
#u202_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u202.a {
  left:501px;
}
#u202_text.a {
}
#u202 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u203.a {
}
#u203_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u203.a {
}
#u203_text.a {
}
#u203 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u204.a {
  left:481px;
}
#u204_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u204.a {
  left:481px;
}
#u204_text.a {
}
#u204 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u205.a {
  top:1410px;
  width:374px;
  height:500px;
}
#u205_img.a {
  width:374px;
  height:500px;
}
#u205.a {
  top:1410px;
  width:374px;
  height:500px;
}
#u205_text.a {
}
#u205 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u206.a {
  left:36px;
  top:1608px;
  width:302px;
}
#u206_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u206.a {
  left:36px;
  top:1608px;
  width:302px;
}
#u206_text.a {
}
#u206 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u208.a {
  left:207px;
  top:1779px;
}
#u208_img.a {
}
#u208.a {
  left:207px;
  top:1779px;
}
#u208_text.a {
}
#u208 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u209.a {
  left:118px;
  top:1779px;
}
#u209_img.a {
}
#u209.a {
  left:118px;
  top:1779px;
}
#u209_text.a {
}
#u209 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u210.a {
  left:36px;
  top:1684px;
  width:302px;
}
#u210_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u210.a {
  left:36px;
  top:1684px;
  width:302px;
}
#u210_text.a {
}
#u210 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u211.a {
  left:36px;
  top:1461px;
  width:302px;
}
#u211_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u211.a {
  left:36px;
  top:1461px;
  width:302px;
}
#u211_text.a {
}
#u211 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u212.a {
  left:36px;
  top:1534px;
  width:302px;
}
#u212_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u212.a {
  left:36px;
  top:1534px;
  width:302px;
}
#u212_text.a {
}
#u212 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u213.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u214.a {
  top:0px;
  width:374px;
  height:667px;
}
#u214_img.a {
  width:374px;
  height:667px;
}
#u214.a {
  top:0px;
  width:374px;
  height:667px;
}
#u214_text.a {
}
#u214 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u215.a {
  left:36px;
  top:128px;
}
#u215_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u215.a {
  left:36px;
  top:128px;
}
#u215_text.a {
}
#u215 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u216.a {
  left:36px;
  top:324px;
}
#u216_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u216.a {
  left:36px;
  top:324px;
}
#u216_text.a {
}
#u216 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u217.a {
  left:36px;
  top:389px;
}
#u217_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u217.a {
  left:36px;
  top:389px;
}
#u217_text.a {
}
#u217 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u218.a {
  left:36px;
  top:258px;
}
#u218_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u218.a {
  left:36px;
  top:258px;
}
#u218_text.a {
}
#u218 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u219.a {
  left:36px;
  top:193px;
}
#u219_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u219.a {
  left:36px;
  top:193px;
}
#u219_text.a {
}
#u219 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u220.a {
  left:36px;
  top:31px;
}
#u220_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Negrita', 'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u220.a {
  left:36px;
  top:31px;
}
#u220_text.a {
}
#u220 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u221.a {
  left:-1px;
  top:88px;
  width:376px;
}
#u221_img.a {
  width:377px;
}
#u221.a {
  left:-1px;
  top:88px;
  width:376px;
}
#u221_text.a {
}
#u221 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u222.a {
  left:318px;
  top:27px;
  width:20px;
  height:35px;
}
#u222_img.a {
  width:20px;
  height:35px;
}
#u222.a {
  left:318px;
  top:27px;
  width:20px;
  height:35px;
}
#u222_text.a {
}
#u222 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u223.a {
  left:36px;
  top:454px;
}
#u223_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Normal', 'Segoe UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u223.a {
  left:36px;
  top:454px;
}
#u223_text.a {
}
#u223 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u213_state0.a {
  width:374px;
  height:667px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
